<%= form_for(star_test) do |f| %>
  <% if star_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(star_test.errors.count, "error") %> prohibited this star_test from being saved:</h2>

      <ul>
      <% star_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.text_field :student_id, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :test_date %>
    <%= f.text_field :test_date, placeholder: "mm/dd/yyyy" %>
  </div>

  <div class="field">
    <%= f.label :scaled_score %>
    <%= f.number_field :scaled_score %>
  </div>

  <div class="field">
    <%= f.label :developmental_stage %>
    <%= f.text_field :developmental_stage %>
  </div>

  <div class="field">
    <%= f.label :alphabetic_principle %>
    <%= f.number_field :alphabetic_principle %>
  </div>

  <div class="field">
    <%= f.label :concept_of_word %>
    <%= f.number_field :concept_of_word %>
  </div>

  <div class="field">
    <%= f.label :visual_discrimination %>
    <%= f.number_field :visual_discrimination %>
  </div>

  <div class="field">
    <%= f.label :phonemic_awareness %>
    <%= f.number_field :phonemic_awareness %>
  </div>

  <div class="field">
    <%= f.label :phonics %>
    <%= f.number_field :phonics %>
  </div>

  <div class="field">
    <%= f.label :structural_analysis %>
    <%= f.number_field :structural_analysis %>
  </div>

  <div class="field">
    <%= f.label :vocabulary %>
    <%= f.number_field :vocabulary %>
  </div>

  <div class="field">
    <%= f.label :sentence_level_comprehension %>
    <%= f.number_field :sentence_level_comprehension %>
  </div>

  <div class="field">
    <%= f.label :paragraph_level_comprehension %>
    <%= f.number_field :paragraph_level_comprehension %>
  </div>
  
  <div class="field">
    <%= f.label :early_numeracy %>
    <%= f.number_field :early_numeracy %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
