<%= form_for(star_test) do |f| %>
  <% if star_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(star_test.errors.count, "error") %> prohibited this star_test from being saved:</h2>

      <ul>
      <% star_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-new-student">
    <div class="form-group">
      <h1 class="create-student-heading">New Star Test for <%= "#{@star_test.student.first_name} #{@star_test.student.last_name}" %></h1>
    </div>
      <div class="field">
        <%= f.text_field :student_id, readonly: true,:class => "form-control"%>
      </div>
      <div class="field">
        <%= f.text_field :test_date,:class => "form-control", placeholder: "mm/dd/yyyy" %>
      </div>
      <div class="field">
        <%= f.number_field :scaled_score, :class => "form-control", :placeholder=>"Scaled Score" %>
      </div>

      <div class="field">
        <%= f.text_field :developmental_stage, :class => "form-control", :placeholder=>"Developmental Stage" %>
      </div>

      <div class="field">
        <%= f.number_field :alphabetic_principle, :class => "form-control", :placeholder=>"Alphabetic Principle" %>
      </div>

      <div class="field">
        <%= f.number_field :concept_of_word, :class => "form-control", :placeholder=>"Concept of Word" %>
      </div>
      <div class="field">
        <%= f.number_field :visual_discrimination, :class => "form-control", :placeholder=>"Visual Discrimination" %>
      </div>
      <div class="field">
        <%= f.number_field :phonemic_awareness, :class => "form-control", :placeholder=>"Phonemic Awareness" %>
      </div>
      <div class="field">
        <%= f.number_field :phonics, :class => "form-control", :placeholder=>"Phonics" %>
      </div>
      <div class="field">
        <%= f.number_field :structural_analysis, :class => "form-control", :placeholder=>"Structural Analysis" %>
      </div>
      <div class="field">
        <%= f.number_field :vocabulary, :class => "form-control", :placeholder=>"Vocabulary" %>
      </div>
      <div class="field">
        <%= f.number_field :sentence_level_comprehension, :class => "form-control", :placeholder=>"Sentence Level Comprehension" %>
      </div>
      <div class="field">
        <%= f.number_field :paragraph_level_comprehension, :class => "form-control", :placeholder=>"Paragraph level Comprehension" %>
      </div>

      <div class="field">
        <%= f.number_field :early_numeracy, :class => "form-control", :placeholder=>"Early Numeracy" %>
      </div>
      <div class="actions">
        <%= f.submit "Save and Add New Star Test", :class=>"btn btn-primary" %>
        <%= link_to 'Back', star_tests_path(student_id: @star_test.student.id), :class=>"btn btn-md btn-default" %>
      </div>
  </div>
<% end %>
