<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @star_test.student %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @star_test.test_date %>
</p>

<p>
  <strong>Scaled score:</strong>
  <%= @star_test.scaled_score %>
</p>

<p>
  <strong>Developmental stage:</strong>
  <%= @star_test.developmental_stage %>
</p>

<p>
  <strong>Alphabetic principle:</strong>
  <%= @star_test.alphabetic_principle %>
</p>

<p>
  <strong>Concept of word:</strong>
  <%= @star_test.concept_of_word %>
</p>

<p>
  <strong>Visual discrimination:</strong>
  <%= @star_test.visual_discrimination %>
</p>

<p>
  <strong>Phonemic awareness:</strong>
  <%= @star_test.phonemic_awareness %>
</p>

<p>
  <strong>Phonics:</strong>
  <%= @star_test.phonics %>
</p>

<p>
  <strong>Structural analysis:</strong>
  <%= @star_test.structural_analysis %>
</p>

<p>
  <strong>Vocabulary:</strong>
  <%= @star_test.vocabulary %>
</p>

<p>
  <strong>Sentence level comprehension:</strong>
  <%= @star_test.sentence_level_comprehension %>
</p>

<p>
  <strong>Paragraph level comprehension:</strong>
  <%= @star_test.paragraph_level_comprehension %>
</p>

<p>
  <strong>Early numeracy:</strong>
  <%= @star_test.early_numeracy %>
</p>

<%= link_to 'Edit', edit_star_test_path(@star_test) %> |
<%= link_to 'Back', star_tests_path(student_id: @star_test.student.id) %>
