
<h1>Student Tests</h1>
<table id="star_tests_students_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>School year</th>
      <th>Class</th>
      <th>Last name</th>
      <th>First name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= student.school_year %></td>
        <td><%= student.student_class %></td>
        <td><%= student.last_name %></td>
        <td><%= student.first_name %></td>
        <td><%= link_to "STAR (#{student.star_tests.count})", star_tests_path(student_id: student.id) %></td>
        <td><%= link_to "Terra Nova (#{student.terra_nova_tests.count})", terra_nova_tests_path(student_id: student.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
