<%= form_for(student) do |f| %>
<% if student.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

  <ul>
    <% student.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="container" style="width:40%">
  <div class="form-new-student">
    <div class="form-group">
      <h2 class="create-student-heading">New Student</h2>
    </div>
    <div class="field">
      <%= f.text_field :first_name,:class => "form-control", :placeholder=>"First Name", :required=>"", :autofocus=>"" %>
    </div>

    <div class="field">
      <%= f.text_field :last_name,:class => "form-control", :placeholder=>"Last Name", :required=>"", :autofocus=>"" %>
    </div>

    <div class="field">
      <%= f.number_field :school_year,:class => "form-control", :placeholder=>"School Year", :required=>"", :autofocus=>"" %>
    </div>
    <div class="field">
      <%= f.select :new_or_return, ['New', 'Return'], {:prompt => 'New or Return'},  {class: "form-control"} %>
    </div>

    <div class="field">
      <%= f.select :student_class, ['AMPrek', 'K','PMPrek','PS','TTT'], {:prompt => 'Class'},  {class: "form-control"} %>

    </div>

    <div class="field">
      <%= f.select :catholic, ['Yes', 'No'], {:prompt => 'Catholic'},  {class: "form-control"} %>

    </div>

    <div class="field">
      <%= f.select :parish, ['Corpus Christi', 'Holy Family','Immaculate Conception','OLP','St. Agatha','St. Andrew', 'St. Brendan', 'St. Brigid of Kildare', 'St. Catherine','St. Joan of Arc','St. John the Baptist', 'St. Joseph', 'St. Mary', 'St. Michael', 'St. Patrick', 'St. Paul', 'St. Peter', 'St. Stephen', 'St. Timothy' , 'Not Listed'], {:prompt => 'Parish'},  {class: "form-control"} %>
    </div>

    <div class="field">
      <%= f.select :race, ['Asian', 'Black/African American','Hispanic','Multi-Racial','White/Caucasian'], {:prompt => 'Race'},  {class: "form-control"} %>

    </div>

    <div class="field">
      <%= f.select :resides_with, ['Both', 'Father','Mother'], {:prompt => 'Resides With'},  {class: "form-control"} %>

    </div>

    <div class="field">
      <%= f.text_field :reference_from,:class => "form-control", :placeholder=>"Reference From", :required=>"", :autofocus=>"" %>

    </div>

    <div class="field">
      <%= f.text_field :student_transfer,:class => "form-control", :placeholder=>"Student Transfer", :required=>"", :autofocus=>"" %>

    </div>

    <div class="field">
      <%= f.text_field :preK_to_K,:class => "form-control", :placeholder=>"Prek to K", :required=>"", :autofocus=>"" %>

    </div>

    <div class="actions">
      <div class="buttons">
      <%= f.submit "Save", :class=>"btn btn-primary" %>
      <%= link_to 'Cancel', '/static_pages/dashboard', :class=>"btn btn-default " %>
      <div>
    </div>
  </div>
</div>
<% end %>
