<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>School year</th>
      <th>New or return</th>
      <th>Class</th>
      <th>Catholic</th>
      <th>Parish</th>
      <th>Race</th>
      <th>Resides with</th>
      <th>Reference from</th>
      <th>Student transfer</th>
      <th>Prek to k</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school_year %></td>
        <td><%= student.new_or_return %></td>
        <td><%= student.student_class %></td>
        <td><%= student.catholic %></td>
        <td><%= student.parish %></td>
        <td><%= student.race %></td>
        <td><%= student.resides_with %></td>
        <td><%= student.reference_from %></td>
        <td><%= student.student_transfer %></td>
        <td><%= student.preK_to_K %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
