<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>School year:</strong>
  <%= @student.school_year %>
</p>

<p>
  <strong>New or return:</strong>
  <%= @student.new_or_return %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @student.student_class %>
</p>

<p>
  <strong>Catholic:</strong>
  <%= @student.catholic %>
</p>

<p>
  <strong>Parish:</strong>
  <%= @student.parish %>
</p>

<p>
  <strong>Race:</strong>
  <%= @student.race %>
</p>

<p>
  <strong>Resides with:</strong>
  <%= @student.resides_with %>
</p>

<p>
  <strong>Reference from:</strong>
  <%= @student.reference_from %>
</p>

<p>
  <strong>Student transfer:</strong>
  <%= @student.student_transfer %>
</p>

<p>
  <strong>Prek to k:</strong>
  <%= @student.preK_to_K %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
