<p id="notice"><%= notice %></p>

<h1>Parishes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Website</th>
      <th>Denery</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parishes.each do |parish| %>
      <tr>
        <td><%= parish.name %></td>
        <td><%= parish.contact %></td>
        <td><%= parish.phone %></td>
        <td><%= parish.fax %></td>
        <td><%= parish.email %></td>
        <td><%= parish.website %></td>
        <td><%= parish.denery %></td>
        <td><%= parish.address %></td>
        <td><%= parish.city %></td>
        <td><%= parish.state %></td>
        <td><%= parish.zip %></td>
        <td><%= link_to 'Show', parish %></td>
        <td><%= link_to 'Edit', edit_parish_path(parish) %></td>
        <td><%= link_to 'Delete', parish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parish', new_parish_path %>
