<p id="notice"><%= notice %></p>
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"/>

<h1>Parish Database</h1>
<div class="container">
  <%= link_to 'New Parish', new_parish_path %>
  <%= link_to 'Back', static_pages_dashboard_path %>
</br>
</br>

  <table id="parish_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Website</th>
      <th>Deanery</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="1"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parishes.each do |parish| %>
      <tr>
        <td><%= parish.name %></td>
        <td><%= parish.contact %></td>
        <td><%= parish.phone %></td>
        <td><%= parish.fax %></td>
        <td><%= parish.email %></td>
        <td><%= parish.website %></td>
        <td><%= parish.deanery %></td>
        <td><%= parish.address %></td>
        <td><%= parish.city %></td>
        <td><%= parish.state %></td>
        <td><%= parish.zip %></td>
        <td><%= link_to 'Show', parish %></td>
        <td><%= link_to 'Edit', edit_parish_path(parish) %></td>
        <td><%= link_to 'Delete', parish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
