<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parish.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @parish.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parish.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @parish.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parish.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @parish.website %>
</p>

<p>
  <strong>Denery:</strong>
  <%= @parish.denery %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parish.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @parish.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @parish.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @parish.zip %>
</p>

<%= link_to 'Edit', edit_parish_path(@parish) %> |
<%= link_to 'Back', parishes_path %>
