<p id="notice"><%= notice %></p>

<h1>Terra Nova Test National Benchmarks</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Test date</th>
      <th>Oral comprehension opi</th>
      <th>Oral comprehension moderate mastery range</th>
      <th>Basic understanding opi</th>
      <th>Basic understanding moderate mastery range</th>
      <th>Introduction to print opi</th>
      <th>Introduction to print moderate mastery range</th>
      <th>Number and number relations opi</th>
      <th>Number and number relations moderate mastery range</th>
      <th>Measurement opi</th>
      <th>Measurement moderate mastery range</th>
      <th>Geometry and spatial sense opi</th>
      <th>Geometry and spatial sense moderate mastery range</th>
      <th>Data stats and probability opi</th>
      <th>Data stats and probability moderate mastery range</th>
      <th colspan="1"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terra_nova_test_benchmarks.each do |terra_nova_test_benchmark| %>
      <tr>
        <td><%= terra_nova_test_benchmark.test_date %></td>
        <td><%= terra_nova_test_benchmark.oral_comprehension_opi %></td>
        <td><%= terra_nova_test_benchmark.oral_comprehension_moderate_mastery_range %></td>
        <td><%= terra_nova_test_benchmark.basic_understanding_opi %></td>
        <td><%= terra_nova_test_benchmark.basic_understanding_moderate_mastery_range %></td>
        <td><%= terra_nova_test_benchmark.introduction_to_print_opi %></td>
        <td><%= terra_nova_test_benchmark.introduction_to_print_moderate_mastery_range %></td>
        <td><%= terra_nova_test_benchmark.number_and_number_relations_opi %></td>
        <td><%= terra_nova_test_benchmark.number_and_number_relations_moderate_mastery_range %></td>
        <td><%= terra_nova_test_benchmark.measurement_opi %></td>
        <td><%= terra_nova_test_benchmark.measurement_moderate_mastery_range %></td>
        <td><%= terra_nova_test_benchmark.geometry_and_spatial_sense_opi %></td>
        <td><%= terra_nova_test_benchmark.geometry_and_spatial_sense_moderate_mastery_range %></td>
        <td><%= terra_nova_test_benchmark.data_stats_and_probability_opi %></td>
        <td><%= terra_nova_test_benchmark.data_stats_and_probability_moderate_mastery_range %></td>
        <td><%= link_to 'Show', terra_nova_test_benchmark %></td>
        <td><%= link_to 'Edit', edit_terra_nova_test_benchmark_path(terra_nova_test_benchmark) %></td>
        <td><%= link_to 'Delete', terra_nova_test_benchmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terra Nova Test Benchmark', new_terra_nova_test_benchmark_path %>
