<p id="notice"><%= notice %></p>

<h1>Terra Nova Test Benchmarks</h1>

<table>
  <thead>
    <tr>
      <th>Test date</th>
      <th>Oral comprehension opi</th>
      <th>Basic understanding opi</th>
      <th>Introduction to print opi</th>
      <th>Number and number relations opi</th>
      <th>Measurement opi</th>
      <th>Geometry and spatial sense opi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terra_nova_test_benchmarks.each do |terra_nova_test_benchmark| %>
      <tr>
        <td><%= terra_nova_test_benchmark.test_date %></td>
        <td><%= terra_nova_test_benchmark.oral_comprehension_opi %></td>
        <td><%= terra_nova_test_benchmark.basic_understanding_opi %></td>
        <td><%= terra_nova_test_benchmark.introduction_to_print_opi %></td>
        <td><%= terra_nova_test_benchmark.number_and_number_relations_opi %></td>
        <td><%= terra_nova_test_benchmark.measurement_opi %></td>
        <td><%= terra_nova_test_benchmark.geometry_and_spatial_sense_opi %></td>
        <td><%= link_to 'Show', terra_nova_test_benchmark %></td>
        <td><%= link_to 'Edit', edit_terra_nova_test_benchmark_path(terra_nova_test_benchmark) %></td>
        <td><%= link_to 'Destroy', terra_nova_test_benchmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terra Nova Test Benchmark', new_terra_nova_test_benchmark_path %>
