<p id="notice"><%= notice %></p>

<p>
  <strong>Test date:</strong>
  <%= @terra_nova_test_benchmark.test_date %>
</p>

<p>
  <strong>Oral comprehension opi:</strong>
  <%= @terra_nova_test_benchmark.oral_comprehension_opi %>
</p>
<p>
  <strong>Oral comprehension moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.oral_comprehension_moderate_mastery_range %>
</p>

<p>
  <strong>Basic understanding opi:</strong>
  <%= @terra_nova_test_benchmark.basic_understanding_opi %>
</p>
<p>
  <strong>Basic understanding moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.basic_understanding_moderate_mastery_range %>
</p>

<p>
  <strong>Introduction to print opi:</strong>
  <%= @terra_nova_test_benchmark.introduction_to_print_opi %>
</p>
<p>
  <strong>Introduction to print moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.introduction_to_print_moderate_mastery_range %>
</p>

<p>
  <strong>Number and number relations opi:</strong>
  <%= @terra_nova_test_benchmark.number_and_number_relations_opi %>
</p>
<p>
  <strong>Number and number relations moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.number_and_number_relations_moderate_mastery_range %>
</p>

<p>
  <strong>Measurement opi:</strong>
  <%= @terra_nova_test_benchmark.measurement_opi %>
</p>
<p>
  <strong>Measurement moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.measurement_moderate_mastery_range %>
</p>

<p>
  <strong>Geometry and spatial sense opi:</strong>
  <%= @terra_nova_test_benchmark.geometry_and_spatial_sense_opi %>
</p>
<p>
  <strong>Geometry and spatial sense moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.geometry_and_spatial_sense_moderate_mastery_range %>
</p>

<p>
  <strong>Data stats and probability opi:</strong>
  <%= @terra_nova_test_benchmark.data_stats_and_probability_opi %>
</p>
<p>
  <strong>Data stats and probability moderate mastery range:</strong>
  <%= @terra_nova_test_benchmark.data_stats_and_probability_moderate_mastery_range %>
</p>

<%= link_to 'Edit', edit_terra_nova_test_benchmark_path(@terra_nova_test_benchmark) %> |
<%= link_to 'Back', terra_nova_test_benchmarks_path %>
