<p id="notice"><%= notice %></p>

<h1>Star Tests</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Test date</th>
      <th>Scaled score</th>
      <th>Developmental stage</th>
      <th>Alphabetic principle</th>
      <th>Concept of word</th>
      <th>Visual discrimination</th>
      <th>Phonemic awareness</th>
      <th>Phonics</th>
      <th>Structural analysis</th>
      <th>Vocabulary</th>
      <th>Sentence level comprehension</th>
      <th>Paragraph level comprehension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @star_tests.each do |star_test| %>
      <tr>
        <td><%= star_test.student %></td>
        <td><%= star_test.test_date %></td>
        <td><%= star_test.scaled_score %></td>
        <td><%= star_test.developmental_stage %></td>
        <td><%= star_test.alphabetic_principle %></td>
        <td><%= star_test.concept_of_word %></td>
        <td><%= star_test.visual_discrimination %></td>
        <td><%= star_test.phonemic_awareness %></td>
        <td><%= star_test.phonics %></td>
        <td><%= star_test.structural_analysis %></td>
        <td><%= star_test.vocabulary %></td>
        <td><%= star_test.sentence_level_comprehension %></td>
        <td><%= star_test.paragraph_level_comprehension %></td>
        <td><%= link_to 'Show', star_test %></td>
        <td><%= link_to 'Edit', edit_star_test_path(star_test) %></td>
        <td><%= link_to 'Destroy', star_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Star Test', new_star_test_path %>
