
<h1>Star Tests <%= 'for ' + @student.first_name + ' ' + @student.last_name if @student %></h1>
<div>
  <table>
  <thead>
    <tr>
      <th>Student id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>School year</th>
      <th>Class</th>
    </tr>
  </thead>

  <tbody>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= @student.id %></td>
      <td><%= @student.first_name %></td>
      <td><%= @student.last_name %></td>
      <td><%= @student.school_year %></td>
      <td><%= @student.student_class %></td>
    </tr>
  </tbody>
</table>
</div>

<table id="star_tests_table">
  <thead>
    <tr>
<th class="<%= StarTest.columns_hash["test_date"].type %>">Test date</th>
<th class="<%= StarTest.columns_hash["scaled_score"].type %>">Scaled score</th>
<th class="<%= StarTest.columns_hash["developmental_stage"].type %>">Developmental stage</th>
<th class="<%= StarTest.columns_hash["alphabetic_principle"].type %>">Alphabetic principle</th>
<th class="<%= StarTest.columns_hash["concept_of_word"].type %>">Concept of word</th>
<th class="<%= StarTest.columns_hash["visual_discrimination"].type %>">Visual discrimination</th>
<th class="<%= StarTest.columns_hash["phonemic_awareness"].type %>">Phonemic awareness</th>
<th class="<%= StarTest.columns_hash["phonics"].type %>">Phonics</th>
<th class="<%= StarTest.columns_hash["structural_analysis"].type %>">Structural analysis</th>
<th class="<%= StarTest.columns_hash["vocabulary"].type %>">Vocabulary</th>
<th class="<%= StarTest.columns_hash["sentence_level_comprehension"].type %>">Sentence level comprehension</th>
<th class="<%= StarTest.columns_hash["paragraph_level_comprehension"].type %>">Paragraph level comprehension</th>
<th class="<%= StarTest.columns_hash["early_numeracy"].type %>">Early numeracy</th>
<th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @star_tests.each do |star_test| %>
      <tr>
        <td><%= star_test.test_date %></td>
        <td><%= star_test.scaled_score %></td>
        <td><%= star_test.developmental_stage %></td>
        <td><%= star_test.alphabetic_principle %></td>
        <td><%= star_test.concept_of_word %></td>
        <td><%= star_test.visual_discrimination %></td>
        <td><%= star_test.phonemic_awareness %></td>
        <td><%= star_test.phonics %></td>
        <td><%= star_test.structural_analysis %></td>
        <td><%= star_test.vocabulary %></td>
        <td><%= star_test.sentence_level_comprehension %></td>
        <td><%= star_test.paragraph_level_comprehension %></td>
        <td><%= star_test.early_numeracy %></td>
        <td><%= link_to 'Show', star_test %></td>
        <td><%= link_to 'Edit', edit_star_test_path(star_test) %></td>
        <td><%= link_to 'Destroy', star_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Star Test', new_star_test_path(student_id: @student.id) %>

<hr>

     <!--Div that will hold the pie chart-->
    <div id="star_test_chart_div"></div>