<%= form_for(exit_survey) do |f| %>
  <% if exit_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exit_survey.errors.count, "error") %> prohibited this exit_survey from being saved:</h2>

      <ul>
      <% exit_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.text_field :student_id %>
  </div>

  <div class="field">
    <%= f.label :how_likely_to_recommend %>
    <%= f.text_field :how_likely_to_recommend %>
  </div>

  <div class="field">
    <%= f.label :how_satisfied_with_education %>
    <%= f.text_field :how_satisfied_with_education %>
  </div>

  <div class="field">
    <%= f.label :how_is_spiritual_environment %>
    <%= f.text_field :how_is_spiritual_environment %>
  </div>

  <div class="field">
    <%= f.label :spiritual_environment_comment %>
    <%= f.text_field :spiritual_environment_comment %>
  </div>

  <div class="field">
    <%= f.label :how_is_physical_facilities %>
    <%= f.text_field :how_is_physical_facilities %>
  </div>

  <div class="field">
    <%= f.label :physical_facilities_comment %>
    <%= f.text_field :physical_facilities_comment %>
  </div>

  <div class="field">
    <%= f.label :how_is_academic_program %>
    <%= f.text_field :how_is_academic_program %>
  </div>

  <div class="field">
    <%= f.label :academic_program_comment %>
    <%= f.text_field :academic_program_comment %>
  </div>

  <div class="field">
    <%= f.label :how_is_social_environment %>
    <%= f.text_field :how_is_social_environment %>
  </div>

  <div class="field">
    <%= f.label :social_environment_comment %>
    <%= f.text_field :social_environment_comment %>
  </div>

  <div class="field">
    <%= f.label :how_is_admin_faculty_and_staff %>
    <%= f.text_field :how_is_admin_faculty_and_staff %>
  </div>

  <div class="field">
    <%= f.label :admin_faculty_and_staff_comment %>
    <%= f.text_field :admin_faculty_and_staff_comment %>
  </div>

  <div class="field">
    <%= f.label :how_is_communication %>
    <%= f.text_field :how_is_communication %>
  </div>

  <div class="field">
    <%= f.label :communication_comment %>
    <%= f.text_field :communication_comment %>
  </div>

  <div class="field">
    <%= f.label :reason_for_leaving %>
    <%= f.text_field :reason_for_leaving %>
  </div>

  <div class="field">
    <%= f.label :reason_for_leaving_explan %>
    <%= f.text_field :reason_for_leaving_explan %>
  </div>

  <div class="field">
    <%= f.label :comments_questions_concerns %>
    <%= f.text_field :comments_questions_concerns %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
