<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"/>
<h1>Students Database</h1>
<div class="container">
  <div>
    <!-- <%= link_to 'New Student', new_student_path, :class => "btn btn-md btn-default start"  %> -->
  </div>

  <% if(@upload_errors && @upload_errors.count > 0) %>
  <div id="error_explanation">
    <h2><%= pluralize(@upload_errors.count, "error") %>
      prohibited this students upload from being saved:</h2>

      <ul>
        <% @upload_errors.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <!--
    <select>
      <% Student.get_past_school_years(3, Time.now).each do |school_year| %>
        <option><%= school_year %></option>
      <% end %>
    </select>
    -->
    <%= select('student', 'school_year', options_for_select(Student.get_past_school_years(10, Time.now), @school_year))  %>

    <table id="studentsTable" class="table table-striped table-bordered" style="table-layout:fixed">
      <thead>
        <tr>
          <th>School Year</th>
          <th>Student Type</th>
          <th>Class</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Father's Name</th>
          <th>Mother's Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Address2</th>
          <th>City2</th>
          <th>State2</th>
          <th>Zip2</th>
          <th>Father's Email</th>
          <th>Mother's Email</th>
          <th>Phone1</th>
          <th>Phone2</th>
          <th>Catholic</th>
          <th>Parish</th>
          <th>Race</th>
          <th>Resides With
          </th>
          <th>Refered By</th>
          <th>Transfer from Pre K to K</th>
          <th>Student Transfer</th>
          <th>Note</th>
          <th>Reasons</th>
          <th>K to 1st</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= student.school_year %></td>
          <td><%= student.new_or_return %></td>
          <td><%= student.student_class %></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.father_name %></td>
          <td><%= student.mother_name %></td>
          <td><%= student.address %></td>
          <td><%= student.city %></td>
          <td><%= student.state %></td>
          <td><%= student.zip %></td>
          <td><%= student.address2 %></td>
          <td><%= student.city2 %></td>
          <td><%= student.state2 %></td>
          <td><%= student.zip2 %></td>
          <td><%= student.email1 %></td>
          <td><%= student.email2 %></td>
          <td><%= student.phone1 %></td>
          <td><%= student.phone2 %></td>
          <td><%= student.catholic %></td>
          <td><%= student.parish %></td>
          <td><%= student.race %></td>
          <td><%= student.resides_with %></td>
          <td><%= student.reference_from %></td>
          <td><%= student.preK_to_K %></td>
          <td><%= student.student_transfer %></td>
          <td><%= student.note %></td>
          <td><%= student.reason %></td>
          <td><%= student.K_First %></td>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>
  <h1>Import Data</h1>
  <div class="import">
    <%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Data", :class => "btn btn-md btn-default btn-info" %>
    <% end %>
  </div>
