<p id="notice"><%= notice %></p>


<% @display_fields.each_with_index do |field_name, index| %>
  <p>
    <strong><%= @display_fields[index] %>: </strong>
    <%= @student[@valid_fields[index]] %>
  </p>
<% end %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
