<%= form_for(star_math_test) do |f| %>
  <% if star_math_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(star_math_test.errors.count, "error") %> prohibited this star_math_test from being saved:</h2>

      <ul>
      <% star_math_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-new-student">
    <div class="field">
      <%= f.label :student_id %>
      <%= f.text_field :student_id, readonly: true,:class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :test_date %>
      <%= f.text_field :test_date, :class => "form-control", placeholder: "mm/dd/yyyy" %>
    </div>

    <div class="field">
      <%= f.label :scaled_score %>
      <%= f.number_field :scaled_score, :class => "form-control", :placeholder=>"Scaled Score" %>
    </div>

    <div class="field">
      <%= f.label "Numbers and Operations" %>
      <%= f.number_field :numbers_and_operations, class: "form-control", placeholder: "Counting and Cardinality" %>
    </div>

    <div class="field">
      <%= f.label "Algebra" %>
      <%= f.number_field :algebra, class: "form-control", placeholder: "Operations and Algebraic Thinking" %>
    </div>

    <div class="field">
      <%= f.label :measurement_and_data %>
      <%= f.number_field :measurement_and_data, class: "form-control", placeholder: "Measurement and Data" %>
    </div>

    <div class="field">
      <%= f.label :geometry %>
      <%= f.number_field :geometry, class: "form-control", placeholder: "Geometry" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to 'Back', star_math_tests_path(student_id: @star_math_test.student.id), :class=>"btn btn-md btn-default" %>
    </div>
  </div>
<% end %>
