<%= form_for(terra_nova_test) do |f| %>
  <% if terra_nova_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terra_nova_test.errors.count, "error") %> prohibited this terra_nova_test from being saved:</h2>

      <ul>
      <% terra_nova_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.text_field :student_id %>
  </div>

  <div class="field">
    <%= f.label :test_date %>
    <%= f.date_select :test_date %>
  </div>

  <div class="field">
    <%= f.label :reading_scale_score %>
    <%= f.number_field :reading_scale_score %>
  </div>

  <div class="field">
    <%= f.label :reading_national_percentile %>
    <%= f.number_field :reading_national_percentile %>
  </div>

  <div class="field">
    <%= f.label :oral_comprehension_opi %>
    <%= f.number_field :oral_comprehension_opi %>
  </div>

  <div class="field">
    <%= f.label :oral_comprehension_level %>
    <%= f.text_field :oral_comprehension_level %>
  </div>

  <div class="field">
    <%= f.label :basic_understanding_opi %>
    <%= f.number_field :basic_understanding_opi %>
  </div>

  <div class="field">
    <%= f.label :basic_understanding_level %>
    <%= f.text_field :basic_understanding_level %>
  </div>

  <div class="field">
    <%= f.label :introduction_to_print_opi %>
    <%= f.number_field :introduction_to_print_opi %>
  </div>

  <div class="field">
    <%= f.label :introduction_to_print_level %>
    <%= f.text_field :introduction_to_print_level %>
  </div>

  <div class="field">
    <%= f.label :math_scale_score %>
    <%= f.number_field :math_scale_score %>
  </div>

  <div class="field">
    <%= f.label :math_national_percentile %>
    <%= f.number_field :math_national_percentile %>
  </div>

  <div class="field">
    <%= f.label :number_and_number_relations_opi %>
    <%= f.number_field :number_and_number_relations_opi %>
  </div>

  <div class="field">
    <%= f.label :number_and_number_relations_level %>
    <%= f.text_field :number_and_number_relations_level %>
  </div>

  <div class="field">
    <%= f.label :measurement_opi %>
    <%= f.number_field :measurement_opi %>
  </div>

  <div class="field">
    <%= f.label :measurement_level %>
    <%= f.text_field :measurement_level %>
  </div>

  <div class="field">
    <%= f.label :geometry_and_spatial_sense_opi %>
    <%= f.number_field :geometry_and_spatial_sense_opi %>
  </div>

  <div class="field">
    <%= f.label :geometry_and_spatial_sense_level %>
    <%= f.text_field :geometry_and_spatial_sense_level %>
  </div>

  <div class="field">
    <%= f.label :data_stats_and_probability_opi %>
    <%= f.number_field :data_stats_and_probability_opi %>
  </div>

  <div class="field">
    <%= f.label :data_stats_and_probability_level %>
    <%= f.text_field :data_stats_and_probability_level %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
