<%= form_for(terra_nova_test) do |f| %>
  <% if terra_nova_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terra_nova_test.errors.count, "error") %> prohibited this terra_nova_test from being saved:</h2>

      <ul>
      <% terra_nova_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-new-terra-nova-test">
    <div class="form-group">
        <h2 class="create-student-heading">New Terra Nova Test for <%= "#{@terra_nova_test.student.first_name} #{@terra_nova_test.student.last_name}" %></h2>
    </div>


    <div class="field">
        <%= f.text_field :student_id,:class => "form-control", :placeholder=>"Student ID", :autofocus=>"", readonly: true %>
    </div>
    <div class="field">
        <%= f.text_field :test_date,:class => "form-control", :placeholder=>"Test Date", :autofocus=>"", placeholder: "mm/dd/yyyy" %>
    </div>
    <div class="field">
        <%= f.text_field :reading_scale_score,:class => "form-control", :placeholder=>"Reading Scale Score", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :reading_national_percentile,:class => "form-control", :placeholder=>"Reading National Percentile", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :oral_comprehension_opi,:class => "form-control", :placeholder=>"Oral Comprehension OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :oral_comprehension_level,:class => "form-control", :placeholder=>"Oral Comprehension Level", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :basic_understanding_opi,:class => "form-control", :placeholder=>"Basic Understanding OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :basic_understanding_level,:class => "form-control", :placeholder=>"Basic Understanding Level", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :introduction_to_print_opi,:class => "form-control", :placeholder=>"Introduction To Print OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :introduction_to_print_level,:class => "form-control", :placeholder=>"Introduction To Print Level", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :math_scale_score,:class => "form-control", :placeholder=>"Math Scale Score", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :math_national_percentile,:class => "form-control", :placeholder=>"National Math Percentile", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :number_and_number_relations_opi,:class => "form-control", :placeholder=>"Number and Number Relations OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :number_and_number_relations_level,:class => "form-control", :placeholder=>"Number and Number Relations Level", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :measurement_opi,:class => "form-control", :placeholder=>"Measurement OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :measurement_level,:class => "form-control", :placeholder=>"Measurement Level", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :geometry_and_spatial_sense_opi,:class => "form-control", :placeholder=>"Geometry and Spacial Sense OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :geometry_and_spatial_sense_level,:class => "form-control", :placeholder=>"Geometry and Spacial Sense Level", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.number_field :data_stats_and_probability_opi,:class => "form-control", :placeholder=>"Data Stats and Probability OPI", :autofocus=>"" %>
    </div>
    <div class="field">
        <%= f.text_field :data_stats_and_probability_level,:class => "form-control", :placeholder=>"Data Stats and Probability Level", :autofocus=>"" %>
    </div>

    <div class="actions">
        <div class="buttons">
            <%= f.submit "Save and Add New Terra Nova Test", :class=>"btn btn-primary" %>
            <%= link_to 'Cancel', '/static_pages/dashboard', :class=>"btn btn-default " %>
            <div></div>
        </div>
    </div>
</div>

<% end %>
