<p id="notice"><%= notice %></p>
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"/>

<h1>Terra Nova Tests <%= 'for ' + @student.first_name + ' ' + @student.last_name if @student %></h1>

<div>
    <table>
      <thead>
        <tr>
          <th>School year</th>
          <th>Class</th>
          <th>Last name</th>
          <th>First name</th>
        </tr>
      </thead>

      <tbody>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= @student.school_year %></td>
          <td><%= @student.student_class %></td>
          <td><%= @student.last_name %></td>
          <td><%= @student.first_name %></td>

        </tr>
      </tbody>
    </table>
  </div>
<!---
<table id="terraNovaTest" class="table table-striped table-bordered" style="table-layout:fixed">
  <thead>
    <tr>
      <th>Student</th>
      <th>Test date</th>
      <th>Reading scale score</th>
      <th>Reading national percentile</th>
      <th>Oral comprehension opi</th>
      <th>Oral comprehension level</th>
      <th>Basic understanding opi</th>
      <th>Basic understanding level</th>
      <th>Introduction to print opi</th>
      <th>Introduction to print level</th>
      <th>Math scale score</th>
      <th>Math national percentile</th>
      <th>Number and number relations opi</th>
      <th>Number and number relations level</th>
      <th>Measurement opi</th>
      <th>Measurement level</th>
      <th>Geometry and spatial sense opi</th>
      <th>Geometry and spatial sense level</th>
      <th>Data stats and probability opi</th>
      <th>Data stats and probability level</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terra_nova_tests.each do |terra_nova_test| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= terra_nova_test.student %></td>
        <td><%= terra_nova_test.test_date %></td>
        <td><%= terra_nova_test.reading_scale_score %></td>
        <td><%= terra_nova_test.reading_national_percentile %></td>
        <td><%= terra_nova_test.oral_comprehension_opi %></td>
        <td><%= terra_nova_test.oral_comprehension_level %></td>
        <td><%= terra_nova_test.basic_understanding_opi %></td>
        <td><%= terra_nova_test.basic_understanding_level %></td>
        <td><%= terra_nova_test.introduction_to_print_opi %></td>
        <td><%= terra_nova_test.introduction_to_print_level %></td>
        <td><%= terra_nova_test.math_scale_score %></td>
        <td><%= terra_nova_test.math_national_percentile %></td>
        <td><%= terra_nova_test.number_and_number_relations_opi %></td>
        <td><%= terra_nova_test.number_and_number_relations_level %></td>
        <td><%= terra_nova_test.measurement_opi %></td>
        <td><%= terra_nova_test.measurement_level %></td>
        <td><%= terra_nova_test.geometry_and_spatial_sense_opi %></td>
        <td><%= terra_nova_test.geometry_and_spatial_sense_level %></td>
        <td><%= terra_nova_test.data_stats_and_probability_opi %></td>
        <td><%= terra_nova_test.data_stats_and_probability_level %></td>
        <td>
          <div class="dropdown">
            <a href="#" title="" class="btn btn-md btn-default" data-toggle="dropdown" aria-expanded="false">
              <span class="button-content">
                <i class="glyphicon glyphicon-cog font-size-11"></i>
                <i class="glyphicon glyphicon-chevron-down font-size-11"></i>
              </span>
            </a>
            <ul class="dropdown-menu float-right">
              <li>
                <%= link_to 'Show', terra_nova_test %>
              </li>
              <li>
                <%= link_to 'Edit', edit_terra_nova_test_path(terra_nova_test) %>              </li>
              <li>
                <%= link_to 'Delete', terra_nova_test, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </td>

      </tr>
      </tr>
    <% end %>
  </tbody>
</table>
!-->
<div>
  <h4>Reading Performance, Scale Score: 581 (National Percentile Rank: 94)</h4>
  <table id="terra_nova_reading_table" class="table table-striped table-bordered" style="table-layout:fixed"> 
    <thead>
      <tr>
        <th>Performance on Objectives</th>
        <th>Student OPI</th>
        <th>National OPI</th>
        <th>Moderate Mastery Range</th>
        <th>Level of Mastery</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oral Comprehension</td>
        <td><!--%= #terra_nova_test.oral_comprehension_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Basic Understanding</td>
        <td><!--%= #terra_nova_test.basic_understanding_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Introduction to Print</td>
        <td><!--%= #terra_nova_test.introduction_to_print_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
  </div>
  <div>
  <h4>Math Performance, Scale Score: 508 (National Percentile Rank: 76)</h4>
  <table id="terra_nova_math_table" class="table table-striped table-bordered" style="table-layout:fixed"> 
    <thead>
      <tr>
        <th>Performance on Objectives</th>
        <th>Student OPI</th>
        <th>National OPI</th>
        <th>Moderate Mastery Range</th>
        <th>Level of Mastery</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Number and Number Relations</td>
        <td><!--% #terra_nova_test.number_and_number_relations_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Measurement</td>
        <td><!--% #terra_nova_test.measurement_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Geometry and Spatial Sense</td>
        <td><!--% #terra_nova_test.geometry_and_spatial_sense_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Data, Stats, and Probability</td>
        <td><!--% #terra_nova_test.data_stats_and_probability_opi %--></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
  </div>

<br>

<%= link_to 'New Terra Nova Test', new_terra_nova_test_path(student_id: @student.id), :class => "btn btn-md btn-default btn-info"  %>
