<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @terra_nova_test.student %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @terra_nova_test.test_date %>
</p>

<p>
  <strong>Reading scale score:</strong>
  <%= @terra_nova_test.reading_scale_score %>
</p>

<p>
  <strong>Reading national percentile:</strong>
  <%= @terra_nova_test.reading_national_percentile %>
</p>

<p>
  <strong>Oral comprehension opi:</strong>
  <%= @terra_nova_test.oral_comprehension_opi %>
</p>

<p>
  <strong>Basic understanding opi:</strong>
  <%= @terra_nova_test.basic_understanding_opi %>
</p>

<p>
  <strong>Introduction to print opi:</strong>
  <%= @terra_nova_test.introduction_to_print_opi %>
</p>

<p>
  <strong>Math scale score:</strong>
  <%= @terra_nova_test.math_scale_score %>
</p>

<p>
  <strong>Math national percentile:</strong>
  <%= @terra_nova_test.math_national_percentile %>
</p>

<p>
  <strong>Number and number relations opi:</strong>
  <%= @terra_nova_test.number_and_number_relations_opi %>
</p>

<p>
  <strong>Measurement opi:</strong>
  <%= @terra_nova_test.measurement_opi %>
</p>

<p>
  <strong>Geometry and spatial sense opi:</strong>
  <%= @terra_nova_test.geometry_and_spatial_sense_opi %>
</p>

<p>
  <strong>Data stats and probability opi:</strong>
  <%= @terra_nova_test.data_stats_and_probability_opi %>
</p>

<%= link_to 'Edit', edit_terra_nova_test_path(@terra_nova_test) %> |
<%= link_to 'Back', terra_nova_tests_path %>
