<p id="notice"><%= notice %></p>

<h1>Exit Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>How likely to recommend</th>
      <th>How satisfied with education</th>
      <th>How is spiritual environment</th>
      <th>Spiritual environment comment</th>
      <th>How is physical facilities</th>
      <th>Physical facilities comment</th>
      <th>How is academic program</th>
      <th>Academic program comment</th>
      <th>How is social environment</th>
      <th>Social environment comment</th>
      <th>How is admin faculty and staff</th>
      <th>Admin faculty and staff comment</th>
      <th>How is communication</th>
      <th>Communication comment</th>
      <th>Reason for leaving</th>
      <th>Reason for leaving explan</th>
      <th>Comments questions concerns</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exit_surveys.each do |exit_survey| %>
      <tr>
        <td><%= exit_survey.student %></td>
        <td><%= exit_survey.how_likely_to_recommend %></td>
        <td><%= exit_survey.how_satisfied_with_education %></td>
        <td><%= exit_survey.how_is_spiritual_environment %></td>
        <td><%= exit_survey.spiritual_environment_comment %></td>
        <td><%= exit_survey.how_is_physical_facilities %></td>
        <td><%= exit_survey.physical_facilities_comment %></td>
        <td><%= exit_survey.how_is_academic_program %></td>
        <td><%= exit_survey.academic_program_comment %></td>
        <td><%= exit_survey.how_is_social_environment %></td>
        <td><%= exit_survey.social_environment_comment %></td>
        <td><%= exit_survey.how_is_admin_faculty_and_staff %></td>
        <td><%= exit_survey.admin_faculty_and_staff_comment %></td>
        <td><%= exit_survey.how_is_communication %></td>
        <td><%= exit_survey.communication_comment %></td>
        <td><%= exit_survey.reason_for_leaving %></td>
        <td><%= exit_survey.reason_for_leaving_explan %></td>
        <td><%= exit_survey.comments_questions_concerns %></td>
        <td><%= link_to 'Show', exit_survey %></td>
        <td><%= link_to 'Edit', edit_exit_survey_path(exit_survey) %></td>
        <td><%= link_to 'Delete', exit_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exit Survey', new_exit_survey_path %>
