<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @exit_survey.student %>
</p>

<p>
  <strong>How likely to recommend:</strong>
  <%= @exit_survey.how_likely_to_recommend %>
</p>

<p>
  <strong>How satisfied with education:</strong>
  <%= @exit_survey.how_satisfied_with_education %>
</p>

<p>
  <strong>How is spiritual environment:</strong>
  <%= @exit_survey.how_is_spiritual_environment %>
</p>

<p>
  <strong>Spiritual environment comment:</strong>
  <%= @exit_survey.spiritual_environment_comment %>
</p>

<p>
  <strong>How is physical facilities:</strong>
  <%= @exit_survey.how_is_physical_facilities %>
</p>

<p>
  <strong>Physical facilities comment:</strong>
  <%= @exit_survey.physical_facilities_comment %>
</p>

<p>
  <strong>How is academic program:</strong>
  <%= @exit_survey.how_is_academic_program %>
</p>

<p>
  <strong>Academic program comment:</strong>
  <%= @exit_survey.academic_program_comment %>
</p>

<p>
  <strong>How is social environment:</strong>
  <%= @exit_survey.how_is_social_environment %>
</p>

<p>
  <strong>Social environment comment:</strong>
  <%= @exit_survey.social_environment_comment %>
</p>

<p>
  <strong>How is admin faculty and staff:</strong>
  <%= @exit_survey.how_is_admin_faculty_and_staff %>
</p>

<p>
  <strong>Admin faculty and staff comment:</strong>
  <%= @exit_survey.admin_faculty_and_staff_comment %>
</p>

<p>
  <strong>How is communication:</strong>
  <%= @exit_survey.how_is_communication %>
</p>

<p>
  <strong>Communication comment:</strong>
  <%= @exit_survey.communication_comment %>
</p>

<p>
  <strong>Reason for leaving:</strong>
  <%= @exit_survey.reason_for_leaving %>
</p>

<p>
  <strong>Reason for leaving explan:</strong>
  <%= @exit_survey.reason_for_leaving_explan %>
</p>

<p>
  <strong>Comments questions concerns:</strong>
  <%= @exit_survey.comments_questions_concerns %>
</p>

<%= link_to 'Edit', edit_exit_survey_path(@exit_survey) %> |
<%= link_to 'Back', exit_surveys_path %>
