</br>
<div>
  <div class="image">
    <%= image_tag("logo.jpg", :alt => "rss feed", :class=>"img-responsive") %>
  </div>
  <div class="row">
      <div class="form-login">
        <div class="form-signin">
          <div class = "account-wall">
            <%= form_tag '/login' do %>
            <h2 class="form-signin-heading">Login</h2>
            <%= text_field_tag :email, '',:class => "form-control", :placeholder=>"Email Address", :required=>"", :autofocus=>"" %>
            <%= password_field_tag :password, '',:class => "form-control", :placeholder=>"Password", :required=>"", :autofocus=>""%> <br />
            <%= submit_tag "Submit", :class=>"btn btn-lg btn-primary btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
