<!DOCTYPE html>
<html>
  <head>
    <title>OLOBApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
  	<%= render file: "pages/dashboard.html.erb" %>
	<% else %>
  	<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <%= yield %>
	<% end %>

	
  </body>
</html>
