<!DOCTYPE html>
<html>
  <head>
    <title>OLOBApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <% if current_user %>
    <nav class="navbar navbar-default">
      <%= link_to 'OLOB Marketing', '/static_pages/dashboard', :class=>"navbar-brand" %>
      <%= link_to 'Logout', '/logout', :class=>"btn btn-default navbar-btn" %>
     </nav>
     <% flash.each do |key, message| %>
      <div id="flash-<%= key %>" class="alert alert-<%= key %> fade in">
        <button class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  <% else %>
  	 <nav class="navbar navbar-default">
      <%= link_to 'OLOB Marketing', '/home', :class=>"navbar-brand" %>
      <%= link_to 'Login', '/login', :class=>"btn btn-default navbar-btn" %>
      <%= link_to 'Signup', '/signup', :class=>"btn btn-default navbar-btn" %>
     </nav>
     <% flash.each do |key, message| %>
      <div id="flash-<%= key %>" class="alert alert-<%= key %> fade in">
        <button class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
     <%= yield %>
	  <% end %>
  </body>
</html>
